<div class='card-container'>
  <div class='card-name'>{{card.name}}</div>
  {{#if card.cardMembers}}
    <div><strong>Added members:</strong></div>
    {{#each card.cardMembers as |cardMember|}}
      <div class='card-member'>{{cardMember.member.fullName}}
        {{#if card.points}}
          , Points :
          <input class='points-field numeric' type='text'
            value={{cardMember.individualsPoint}} />
        {{/if}}
      </div>
    {{/each}}
  {{/if}}
</div>
