<div class='card-container'>
  <a href={{card.shortUrl}} target='blank' class='card-name'>{{card.name}}</a>
  {{#if card.cardMembers}}
    <div><strong>Added members:</strong></div>
    {{#each card.cardMembers as |cardMember|}}
      {{card-member cardMember=cardMember hasPoints=card.points
        handlePointsChange=(action 'handlePointsChange')}}
    {{/each}}
  {{/if}}
</div>
