<div class='card-member'>{{cardMember.member.fullName}}
  {{#if hasPoints}}
    , Points :
    <input class='points-field' type='text'
      value={{cardMember.individualsPoint}}
      onblur={{action 'handlePointsChange' value='target.value'}} />
  {{/if}}
</div>