<table class='themed-table'>
  <thead>
    <tr>
      <th>Full name</th>
      <th>User name</th>
      <th>Job profile</th>
      <th>Expected points</th>
    </tr>
  </thead>
  <tbody>
    {{#each members as |member|}}
      {{member-row member=member jobProfiles=jobProfiles
        handleRecordChange=(action attrs.handleRecordChange)}}
    {{/each}}
  </tbody>
</table>
