<input value={{search}} onkeydown={{action 'handleSearchTermChange'}}
  class='search-box blue-outline-input-box'
  placeholder="Search card by name">
{{multi-select-filter filters=filters filterChanged=(action 'handleFilterChange')
  selectedFilters=selectedFilters}}
<br>
{{#each model as |card|}}
  {{card-component card=card handlePointsChange=(action 'handlePointsChange')}}
{{/each}}

{{#if paginationRequired}}
  <div>Pagination comming</div>
{{/if}}
